# Tuplas

## ¿Qué son?
Las tuplas en Python son similares a las listas pero inmutables, lo que significa que no se pueden modificar, añadir o eliminar elementos una vez creadas.

## ¿Cómo se crean las tuplas?
- Primero se pone el nombre que quieres que tenga la tupla.
- En segundo abrimos los paréntesis.
- Dentro de los paréntesis agregamos valores, estos pueden ser de diferentes tipos (números, cadenas, valores reales, una lista también).
- Ya que la tengamos lista, la imprimimos.

In [ ]:
#Creamos la tupla con diferentes tipos de valores
tupla = (1, "Holis", 6.78, [1,2,3,4])

#Imprimimos la tupla
print(tupla)

(1, 'Holis', 6.78, [1, 2, 3, 4])

## ¿Cómo se modifican las tuplas?
Las tuplas son estructuras de datos inmutables, lo que quiere decir que no se pueden modificar una vez creadas.

In [ ]:
frutas = ("Manzana", "Pera", "Sandía", "Mango")
print(frutas)
#Intentamos modificar el valor 2 de la tupla pero no se puede como en una lista
frutas[2] = "Fresa"

('Manzana', 'Pera', 'Sandía', 'Mango')

TypeError: 'tuple' object does not support item assignment

Sin embargo, si hay formas de "modificar" una tupla, aunque en realidad estás creando una nueva tupla con los cambios deseados o elementos que quieres añadir.

In [ ]:
#Tenemos la tupla original
tupla_original = (1, 2, 3)

#Creamos una nueva tupla que sea igual a la original más los valores a agregar
nueva_tupla = tupla_original + (4, 5)

#Se imprime la tupla original
print(tupla_original)

#Se imprime la nueva tupla con los valores agregados
print(nueva_tupla)

(1, 2, 3)
(1, 2, 3, 4, 5)

## ¿Cómo eliminar elementos en una tupla?
Dado que las tuplas en Python son estructuras de datos inmutables, no puedes eliminar elementos de una tupla directamente.

In [ ]:
tamales = ("Rajas", "Mole", "Piña", "Salsa verde")
print(tamales)

#Al querer eliminar el último elemento de la tupla, no se puede
tupla.pop()

('Rajas', 'Mole', 'Piña', 'Salsa verde')

AttributeError: 'tuple' object has no attribute 'pop'

Sin embargo, puedes crear una nueva tupla que excluya los elementos que deseas eliminar. Una es usando slicing, creando una nueva tupla que excluya los elementos que deseas eliminar.

In [ ]:
tupla_numero = (1, 2, 3, 4, 5)
print(tupla_numero)

elemento_a_eliminar = 2
tupla_nueva = tupla_numero[:elemento_a_eliminar] + tupla_numero[elemento_a_eliminar + 1:]
print(tupla_nueva)

(1, 2, 3, 4, 5)
(1, 2, 4, 5)

## Diferencia con una lista
- En una tupla no se pueden agregar más valores, los valores que tendrá al inicio son los que va a tener siempre, ya que no se pueden añadir ni quitar.
- Las listas se definen con corchetes, en cambio las tuplas se definen con paréntesis.
-Las tuplas se usan cualndo se quieren almacenar elementos que no cambarán, en cambio en las listas se almacenan elementos que pueden cambiar a lo largo del tiempo.

In [ ]:
#Tupla

pastel = ("Chocolate", "Vainilla", "Fresa", "Tres Leches")
print(pastel)
#En las listas se usa el append para añadirle más elementos, en las tuplas no
pastel.append("Red Velvet")

('Chocolate', 'Vainilla', 'Fresa', 'Tres Leches')

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
#Lista

helado = ["Chocolate", "Pistache", "Napolitano", "Chicle", "Galleta"]
print(helado)

#En este caso si se pudo agregar un elemento más a la lista
helado.append("Choco menta")
print(helado)

['Chocolate', 'Pistache', 'Napolitano', 'Chicle', 'Galleta']
['Chocolate', 'Pistache', 'Napolitano', 'Chicle', 'Galleta', 'Choco menta']

## Usos más comúnes de las tuplas

1. Selecciona elementos que la componen, aquí también se puede hacer uso del slicing.

In [ ]:
#Imprimir el elemento 1

#Creamos la tupla y la imprimimos
planetas = ("Saturno", "Marte", "Tierra", "Neptuno", "Venus")
print(planetas)

#Imprimimos el elemento indicado
print(planetas[1])

#También se puede imprimir el último elemento
print(planetas[-1])

('Saturno', 'Marte', 'Tierra', 'Neptuno', 'Venus')
Marte
Venus

In [ ]:
#Con slicing, quiero que imprima desde el elemento 2 hasta el final

print(planetas[2:])

('Tierra', 'Neptuno', 'Venus')

2. Se pueden hacer búsquedas en las tuplas.

In [ ]:
ejemplo = (4, "Cristal", 3.14, [3, 6, 9], 4)
print(ejemplo)

#Quiero buscar si existe 4 en la tupla
print(4 in ejemplo)

#Quiero en que posición se encuentra el 3.14
print(ejemplo.index(3.14))

#Quiero saber cuantas veces se repite el 4 en la tupla
print(ejemplo.count(4))

#Quiero saber la longitud de la tupla
print(len(ejemplo))

(4, 'Cristal', 3.14, [3, 6, 9], 4)
True
2
2
5

3. Se pueden transformar listas en duplas y viceversa.

In [ ]:
utiles = ("Cuaderno", "Libro", "Mochila", "Colores")

#Se convierte a lista y el retorno se guarda en la variable lista
lista = list(utiles)

#Si la imprimimos, nos damos cuenta de que se hace lista
print(utiles)

#Ahora trasformaremos la lista en tupla
lista = ["Cuaderno", "Libro", "Mochila", "Colores"]

#Se convierte a tupla con la tuple
utiles = tuple(lista)

#Si la imprimimos, nos damos cuenta de que se vuelve tupla
print(lista)

('Cuaderno', 'Libro', 'Mochila', 'Colores')
['Cuaderno', 'Libro', 'Mochila', 'Colores']

# Ejercicios con Tuplas

1. Crea una tupla con números e indica el numero con mayor valor y el que menor tenga.

In [ ]:
numeros = (7,6,5,4,3,2,3,4,5,1,4,3)

print("Maximo: ",max(numeros))

print("Minimo: ",min(numeros))

Maximo:  7
Minimo:  1

2. Concatenar dos tuplas y mostrar el resultado.

In [1]:
tupla1 = (1, 2, 3)
tupla2 = (4, 5, 6)
tupla_concatenada = tupla1 + tupla2
print("Tupla concatenada:", tupla_concatenada)

Tupla concatenada: (1, 2, 3, 4, 5, 6)

3. Convertir una tupla en una lista.

In [2]:
colores = (1, 2, 3, 4, 5)
lista_colores = list(colores)
print("Convertiste la tupla en lista:", lista_colores)

Convertiste la tupla en lista: [1, 2, 3, 4, 5]

4. Contar cuántas veces aparecen las calificaciones en una tupla.

In [4]:
calificaciones = (100, 97, 100, 58, 78, 58, 99, 90, 87, 100)
calificacion = 100
apariciones = calificaciones.count(calificacion)
print("El elemento", calificacion, "aparece", apariciones, "veces en la tupla.")

El elemento 100 aparece 3 veces en la tupla.

5. Crear una tupla con animales y mostrar el quinto animal.

In [8]:
animales = ("Koala", "Serpiente", "Cisne", "Venado", "Araña", "Lechuza", "Oruga")
print("El quinto animal es:", animales[5])

El quinto animal es: Lechuza

6. Crear una tupla de tuplas y acceder al primer elemento de la segunda tupla.

In [9]:
tupla_de_tuplas = ((1, 2), (3, 4), (5, 6))
primer_elemento_segunda_tupla = tupla_de_tuplas[1][0]
print("Primer elemento de la segunda tupla:", primer_elemento_segunda_tupla)

Primer elemento de la segunda tupla: 3

7.Comparar dos tuplas y verificar si son iguales.

In [10]:
primera_tupla = (1, 2, 3)
segunda_tupla = (1, 2, 3)
if primera_tupla == segunda_tupla:
    print("Las tuplas son iguales.")
else:
    print("Las tuplas son diferentes.")

Las tuplas son iguales.

8. Crear una tupla con números y verificar si un elemento está presente.

In [11]:
num = (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)
numero_a_buscar = 101
if numero_a_buscar in num:
    print("El elemento", numero_a_buscar, "está presente en la tupla.")
else:
    print("El elemento", numero_a_buscar, "no está presente en la tupla.")

El elemento 101 no está presente en la tupla.

9. Realizar slicing en una tupla para obtener una sub-tupla.

In [14]:
tupla_slicing = (1, 2, 3, 4, 5)
sub_tupla = tupla_slicing[1:4]
print("Sub-tupla:", sub_tupla)

Sub-tupla: (2, 3, 4)

10. Crear una tupla con los números del 1 al 5 e imprimirlos uno por uno.

In [17]:
tupla_de_numeros = (1, 2, 3, 4, 5)
for numero in tupla_de_numeros:
  print(numero)

1
2
3
4
5